---
layout: splash
---

<div class="page__hero" style=" background-image: url('');">

    <img margin:0; style="width:100%" src="/minimal-mistakes/assets/images/unsplash-image-4.jpg" alt="Layout: Header Image and Text Readability" class="page__hero-image">

    <span class="page__hero-caption">
        Bienvenue dans l'univers de Montagn'Art!
        <br> Vous trouverez ici les différentes activités que je propose, qui est Montagn'Art ainsi que d'autres informations utiles.
        <br> Je vous souhaite une bonne visite! 
        <!-- <a href="https://unsplash.com"><strong>Unsplash</strong></a> -->
    </span>

</div>
   
<img src= 'assets/images/welcome.png'>

<h3> Présentation </h3>

<img src= 'assets/images/flu-embed.jpg'>

<br>

Je m'appelle Tessy Veillard, je suis accompagnatrice en montagne en fin de formation. J'ai créé Montagn'Art pour vous partager ce nouveau défi professionnel qui me tient à cœur 💚
<br>
Vous trouverez ici toutes les informations sur mes futures randonnées, trek et autres activités que je proposerai.
Je vous partagerai aussi des astuces, idées et autres concernant la montagne, la faune et bien plus ⛰️
<br>
Je me réjouis de partager cette aventure avec vous 🥾

<h3> Montagn'Art </h3>

Le nom Montagn'Art ...

<h3> Le concept de Rando Aquarelle </h3>

Je pratique ...
