---
layout: archive
---

{{ content }}

<img src= '../assets/images/flu-embed.jpg'>

<img src= 'assets/images/flu-embed.jpg'>

<!-- <img src="{{ '../assets/images/flu-embed.jpg' }}" alt=""> -->

Je m'appelle Tessy Veillard, je suis accompagnatrice en montagne en fin de formation. J'ai créé Montagn'Art pour vous partager ce nouveau défi professionnel qui me tient à cœur 💚

Vous trouverez ici toutes les informations sur mes futures randonnées, trek et autres activités que je proposerai.
Je vous partagerai aussi des astuces, idées et autres concernant la montagne, la faune et bien plus ⛰️

Je me réjouis de partager cette aventure avec vous 🥾

<img src= '/tree/master/assets/images/flu-embed.jpg'>

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
